{% extends 'base.html' %}

{% block script %}
<script>
	function go_delete(id){
		console.log("id");
		var user_pass = document.getElementById('user_pass').value;
		if(user_pass !== ''){
			var usr = '/' + id + '/' + user_pass;
			window.location = usr;
			console.log(usr);
		}
	}
</script>
{% endblock %}

{% block title%}Mood window{% endblock %}
{% block content %}
<form name='my form' action='/myapp/' method='GET' align="center">
	{% for m in moods %}
	<input type='radio' name='mood' value='{{ m.status }}'>{{ m.status }}
	{% endfor %}
	<br/>
	mood pannel:<br/>
	<textarea name='user_post' rows=3 cols=70></textarea>
	<br>
	<label for='user_id'>your nickName: </label>
	<input id='user_id' type='text' name='user_id'>
	<label for='user_pass'>the password: </label>
	<input id='user_pass' type='password' name='user_pass'><br/>
	<input type='submit' value='stick'>
	<input type='reset' value='reset'>
</form>
<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel panel-heading' align=center>
				<h3> let me say something </h3>
			</div>
		</div>
	</div>
</div>

<div class='row'>
	{% for p in posts %}
	<div class='col-sm-12 col-md-4'>
		<div class='panel panel-primary'>
			<div class='panel-heading'> {{p.nickName}}'s mood: {{p.mood}}</div>
			<div class='panel-body'> {{p.message|linebreaks}}</div>
			<div class='panel-footer' align='right'>
				<i><small>{{p.pub_time}}</small></i>
				<span class="glyphicon glyphicon-trash" onclick="go_delete({{p.id}})"></span>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
