{% extends "base.html" %}
{% block title %}TV LIVE{% endblock %}
{% block tvname %} {{tv.name}} {% endblock %}
{% block menu %}
<ul class="nav navbar-nav">
    <li class="activate"><a href="/">Home</a> </li>
    <li><a href="{% url 'tv-url' 0 %}">CCTV NEWS</a></li>
    <li><a href="{% url 'tv-url' 1 %}">CCTV INTERNET</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container">
    <div id="tvcode" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{tv.tvcode}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=1827600686&auto=1&height=66"></iframe>
    </div>
</div>
{% endblock %}
