[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false
name = "home"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version="*", index="home"}
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
