<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{p.name}}</title>
</head>
<body>
<h2>{{p.name}}</h2>
<hr>
<table width=400 border=1 bgcolor="aqua">
    <thead><tr>
        <td>id</td>
        <td>name</td>
        <td>price</td>
        <td>count</td>
    </tr></thead>
    <tbody><tr>
        <td>{{p.sku}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.qty}}</td>
    </tr></tbody>
</table>
<hr>
<a href="/">homepage</a>
</body>
</html>